<ion-view view-title="Verify User-Token">
    <ion-content class="padding title">
    <div>
      <h2>Settings</h2>
    </div>
    
    <h5>Valid user token</h5>
    
    <button class="button button-outline button-balanced" ion-button ng-click="generateNewToken()"> Generate new token</button>
    <br/>
    <br/>
    <br/>
    <p style="text-align:left; font-style: italic;">
      *NOTE: If the token is unavailable, you must generate a new token, to continue managing the lights.
    </p>
    </ion-content>
  </ion-view>